
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
 
  <title>Timely</title>
</head>
<body>
    <form action="{{ url_for("create_account")}}" method="post"> 
        <label for="username">Username:</label> 
        <input type="text" id="username" name="uname" placeholder="username"> 
        <br>
        <label for="password">Password</label> 
        <input type="text" id="password" name="pword" placeholder="password">
        <br> 
        <label for="password_confirm">Password Confirmation</label> 
        <input type="text" id="password_confirm" name="pword_confirm" placeholder="password_confirm"> 
        <br>
        <button type="submit">Create Account</button>        
 
</body>
</html>