<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
     content="width=device-width, initial-scale=1, user-scalable=yes">
<style>
    body {
        background: #292A2E;
    }

    @media screen and (min-width: 600px) {
        .time_div {
            position: fixed;
            top: 30vh;
            left: 40%;
        }
    }


    @media screen and (max-width: 600px) {
        .time_div {
            position: fixed;
            top: 30vh;
            left: 20%;
        }
    }


    .time {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 96px;
        line-height: 112px;

        color: #E8F5F8;
    }
</style>
  <title>Timely</title>
</head>
<body>
<button onclick="window.open('http://localhost:5000/create_account','_self')">Create Account</button>
<button onclick="window.open('http://localhost:5000/login','_self')">Login</button>
<br>
<p id="login_status">Not logged in!</p>
<br>
<p id=time>Timely</p>
<br>
<form method="post"> 
    <div class="time_div">
        <span contenteditable="true" id="length_input_hours" class="time">0</span>
        <span class="time">:</span>
        <span contenteditable="true" id="length_input_mins" class="time">0</span>
        <span class="time">:</span>
        <span id="seconds" class="time" contenteditable="true">0</span>
    </div>
</form>
<br>
<button id="start_timer" onclick="start_timer()">Start</button>
</body>
<script>
timer_running = false

function get_cookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
        c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
        }
    }
    return "";
}

if ("{{ user }}" != "%noneValue%") {
    document.cookie = "user_status={{ user }}";
    document.getElementById("login_status").innerHTML= "{{ user }}"
} else {
    if (get_cookie("user_status") != "%noneValue%") {
        document.getElementById("login_status").innerHTML = get_cookie("user_status")
    }
}

timer = document.getElementById("time")

function convert_to_hms (seconds) {
    var days     = Math.floor(seconds / (24*60*60));
        seconds -= days    * (24*60*60);
    var hours    = Math.floor(seconds / (60*60));
        seconds -= hours   * (60*60);
    var minutes  = Math.floor(seconds / (60));
        seconds -= minutes * (60);
    return hours + "%" + minutes + "%" + seconds
}


function start_timer () {
    if (timer_running == false) {
        timer_running = true
        //Get hours and seconds
        hours = Number(document.getElementById("length_input_hours").innerHTML)
        minutes = Number(document.getElementById("length_input_mins").innerHTML)
        seconds = Number(document.getElementById("seconds").innerHTML)

        //Convert hours and minutes into seconds and add them
        hours_in_seconds = hours * 60 * 60
        minutes_in_seconds = minutes* 60
        total_seconds = hours_in_seconds + minutes_in_seconds + seconds

        //Check if we still have a number by the end of it - the user may have entered a string
        if (Object.is(NaN, total_seconds) == true) {
            alert ("There's been an issue - you need to enter numbers in to the text boxes")
        } else { 
            iterator = 0
            //Start the countdown
            for (i=0;i<total_seconds;i++) {
                setTimeout( () =>{
                    iterator = iterator + 1
                    time_left = convert_to_hms (total_seconds - iterator)
                    var time_left_arr = (time_left.split("%"));
                    document.getElementById("length_input_hours").innerHTML = time_left_arr[0]
                    document.getElementById("length_input_mins").innerHTML = time_left_arr[1]
                    document.getElementById("seconds").innerHTML = time_left_arr[2]
                    
                    document.getElementById("length_input_hours").contentEditable = false
                    document.getElementById("length_input_mins").contentEditable = false
                    document.getElementById("seconds").contentEditable = false          
                    
                    if (iterator >= total_seconds) {
                        document.getElementById("length_input_hours").contentEditable = true
                        document.getElementById("length_input_mins").contentEditable = true
                        document.getElementById("seconds").contentEditable = true

                        timer_running = false
                        var audio = new Audio('https://opengameart.org/sites/default/files/audio_preview/montageAudio-20120704%40194334.mp3.ogg');
                        audio.play();
                    }
                }, i * 1000)
            }
        }
    } else {
        window.open('http://localhost:5000/','_self')
    }
}

</script>
</html>